include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/log_action *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/log_action/migration *.ini *.py *.mako
